<mat-toolbar>
  <span>LOGO (folgt)</span>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (buntnispage of mainpages; track buntnispage) {
    <a
      mat-tab-link
      [routerLink]="buntnispage.url"
      routerLinkActive
      #routerLink="routerLinkActive"
      [active]="routerLink.isActive"
      >{{ buntnispage.name }}</a
    >
    }
  </nav>
  <span
    ><a href="https://github.com/Hirschfuchs/buntnis-ilmenau.de" target="_blank"
      ><img
        ngSrc="assets/icons/github-mark.png"
        height="240"
        width="240"
        alt="Github-Logo"
        class="head-icon" /></a
  ></span>
</mat-toolbar>