<mat-card>
  <mat-card-header
  ><h2>Wer wir sind</h2></mat-card-header>
  <mat-card-content
  ><p>
    Das Bündnis für Toleranz und Weltoffenheit in Ilmenau setzt sich für eine offene und tolerante Gesellschaft ein.
    Es besteht aus verschiedenen Gruppen, Organisationen und engagierten Einzelpersonen, die gemeinsam für Vielfalt und gegenseitigen Respekt eintreten.
    Das Bündnis organisiert Veranstaltungen, Diskussionen und Initiativen, um das Bewusstsein für Toleranz zu stärken und gegen Diskriminierung vorzugehen.
    Ziel ist es, eine positive und inklusive Gemeinschaft in Ilmenau zu fördern, in der Menschen unterschiedlicher Hintergründe friedlich zusammenleben können.
  </p></mat-card-content
  >
</mat-card>
