@import "../../../schema";

$circle-width: 250px;
$circle-min-width: 25vw;
$circle-max-width: 20vh;

$circle1-color: $crimson;
$circle2-color: $xanthous;
$circle3-color: $cerulean;


#landing-area{
  height: 100vh;
}
#headline {
  height: 25vh;

  h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 10vh;
  }

  h2 {
    font-family: "Hind", sans-serif;
    font-weight: 700;
  }
}

#landing-circles {
  height: 75vh;
  width: 100vw;

  position: relative;
  overflow: hidden;

  font-family: "Hind", sans-serif;
  font-weight: 700;
}

.circles {
  position: absolute;
  height: 100vh;
  width: 100vh;
}

.outer-circle {
  position: relative;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  border: 1rem solid;
  border-radius: 50%;
}

.circles:first-child {
  left: 0;
  transform: translateX(-50%);
  z-index: 2;

  .outer-circle {
    border-color: $circle1-color;
  }

  .circle {
    left: 100vh;
    top: 50vh;
    transform: translateX(-100%) translateY(-50%);
    background-color: $circle1-color;
  }
}

/** Todo: Umgang mit mehr als 3 Children */
.circles:nth-child(2) {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;

  .outer-circle {
    border-color: $circle2-color;
  }

  .circle {
    left: 50%;
    bottom: 100vh;
    transform: translateX(-50%) translateY(100%);
    background-color: $circle2-color;
  }
}

.circles:last-child {
  right: 0;
  transform: translateX(50%);
  z-index: 1;

  .outer-circle {
    border-color: $circle3-color;
  }

  .circle {
    right: 100vh;
    top: 50vh;
    transform: translateX(100%) translateY(-50%);;
    background-color: $circle3-color;
  }
}

.circle {
  display: flex;
  position: absolute;

  height: $circle-width;
  width: $circle-width;
  min-height: $circle-min-width;
  min-width: $circle-min-width;
  max-height: $circle-max-width;
  max-width: $circle-max-width;
  border-radius: 50%;

  font-size: 5vh;

  align-items: center;

  justify-content: center;
  color: white;
  background-color: #0f0f17;
}

.page-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  * {
    width: 65%;
  }
}

#testbereich {
  height: 100vh;
  background-color: $crimson;
}
#testbereich2 {
  height: 100vh;
  background-color: $xanthous;
}
#testbereich3 {
  height: 100vh;
  background-color: $office-green;
}

@media (max-aspect-ratio: 9/5) {
  #landing-circles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .circles {
    position: relative;
    width: $circle-width;
    height: $circle-width;
    max-height: $circle-max-width;
    max-width: $circle-max-width;
    left: 0 !important;
    top: 0 !important;
    transform: none !important;

    .circle {
      position: relative;
      left: 0 !important;
      top: 0 !important;
      transform: none !important;
    }
  }

  .outer-circle {
    display: none;
  }
}
