<div id="infobereich">
  <mat-card id="huetchen">
    <mat-card-header
      ><img
        ngSrc="assets/2023/huetchen.png"
        height="934"
        width="1209"
        alt="Ein Buntes Hütchen repräsentiert den Aufbau der Seite"
    /></mat-card-header>
    <mat-card-content
      ><p>
        Hier findet ihr zukünftig die Seite des „Buntnis Ilmenau“. Als
        Demokratiebündnis stehen wir für ein offenes und buntes Ilmenau.
      </p></mat-card-content
    >
  </mat-card>

  <mat-card>
    <h3>Weitere Links:</h3>
    <splide>
      <splide-slide *ngFor="let externalLink of externalLinks">
        <a
          [href]="externalLink.link"
          target="_blank"
          rel="external"
          class="outlink"
        >
          <span class="outlink-text">{{ externalLink.name }}</span>
          <img
            [ngSrc]="externalLink.image.url"
            class="outlink-image"
            [height]="externalLink.image.height"
            [width]="externalLink.image.width"
            alt="Ansicht von stolpersteine-ilmenau.de"
            aria-description="Ansicht von stolpersteine-ilmenau.de. Ausgewählt ist das Kaufhaus der Familie Eichenbronner. Man sieht Bilder und Infotext"
          />
        </a>
      </splide-slide>
    </splide>
  </mat-card>
</div>

<div id="fortschrittsbereich">
  <mat-card>
    <h3>Fortschritt:</h3>
    <mat-progress-bar
      [value]="currentProgress"
      mode="determinate"
    ></mat-progress-bar>
  </mat-card>
  <splide>
    <splide-slide *ngFor="let stepGroup of progressStepGroups">
      <mat-card>
        <h4>{{ stepGroup.name }}</h4>
        <mat-list>
          <mat-list-item *ngFor="let step of stepGroup.steps">
            <span matListItemTitle>{{ step.schritt }}</span>
            <span matListItemMeta>{{ step.beschreibung }}</span>
            <mat-checkbox
              [ngModel]="step.erledigt ?? false"
              disabled
            ></mat-checkbox>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </splide-slide>
  </splide>
</div>
