:host {
  width: 100%;

  p {
    width: 50%;
  }

  #huetchen {
    height: fit-content;
    float: right;

    img {
      width: 30%;
      height: fit-content;
    }
  }
}

mat-card {
  margin: 1rem;
  padding: 2rem;
}

#infobereich {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  flex-wrap: wrap;

  mat-card {
    width: 45rem;

    align-items: center;

    mat-card-header,
    mat-card-content {
      justify-content: center;
      text-align: center;
      text-align: -webkit-center;
    }
  }
}

#fortschrittsbereich {
  margin-top: 3rem;

  margin-left: 15%;
  width: 70%;
}

mat-card {
  background: rgba(255, 255, 255, 0.7);
}
