/* SCSS HEX */
$cerulean: #4679a1ff;
$office-green: #276f27;
$crimson: #be3443ff;
$xanthous: #e0b244ff;
$deep-sky-blue: #6eb1e9ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-right: linear-gradient(90deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-bottom: linear-gradient(180deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-left: linear-gradient(270deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-top-right: linear-gradient(45deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-bottom-right: linear-gradient(135deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-top-left: linear-gradient(225deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-bottom-left: linear-gradient(315deg, #4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
$gradient-radial: radial-gradient(#4679a1ff, #6eb1e9ff, #e0b244ff, #be3443ff);
