@import "fonts";

body {
  background-color: #0f0f17;

  color: #e0e0e4;
  font-family: 'Sen', sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
}
